# Virtual environments
venv/
env/
.env/
.venv/

# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Metadata & Documentation
.git/
.gitignore
.github/
docs/
*.md

# Docker stuff
Dockerfile
docker-compose.yml
.dockerignore

# IDEs
.vscode/
.idea/

# Heavy Data & Artifacts
data/*.dat
data/*.data
data/*.item
models/*.h5
models/*.keras
models/*.json