# Virtual environments
venv/
env/
.env/
.venv/

# Python bytecode & cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Metadata & Documentation
.git/
.gitignore
.github/
docs/
*.md

# Heavy Data & Artifacts
# Ignoramos la data y modelos locales porque los montamos por volumen o son pesados
data/*.data
data/*.item
data/*.zip
models/*.h5
models/*.keras

# Docker stuff
Dockerfile
docker-compose.yml
.dockerignore

# IDEs
.vscode/
.idea/