# Virtual environments
.venv/
venv/
.env

# Python
__pycache__/
*.pyc

# Heavy data and models
data/*.dat
data/*.data
data/*.item
models/*.keras
models/*.h5
models/*.json

# VS Code and System
.vscode/
.DS_Store